.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: darksalmon;
  height: 70px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h2 {
    margin: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
    box-sizing: border-box;
}

button {
  padding: 10px;
  font-size: 26px;
  color: white;
  background: darksalmon;
  margin-top: 20px;
  margin-bottom: 20px;
}

.myths {
    display: flex;
    flex-wrap: wrap;
}

.myth {
    padding: 5px 25px 10px 25px;
    max-width: 25%;
}

.add-movies {
    text-align: center;
}

.add-myth button {
    font-size: 16px;
    padding: 8px;
    margin: 0 10px 30px 10px;
}

.hook {
    font-size: 26px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.hook h2 {
    font-weight: 300;
}

.hook h3 {
    text-align: right;
    font-style: italic;
    margin-top: 60px;
    margin-bottom: 0px;
}

.hook button {
    margin-left: 186px;
}

.more-info {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
}

.more-info .quote {
  font-weight: 300;
}

.more-info .attributed-party {
  text-align: right;
}

.more-info .quote-follow-up {
  font-size: 18px;
}
